.hidden-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -40px;
}

.hidden-hand .playing-card {
  margin-left: -45px;
}

.hidden-hand .playing-card:first-child {
  margin-left: 0;
}
