.local-hand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 16px;
}

.local-hand .playing-card {
  margin-left: -60px;
  z-index: 1;
}

.local-hand .playing-card:first-child {
  margin-left: 0;
}

.local-hand .playing-card:hover {
  z-index: 100;
}
