.local-hand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 12px;
}

.local-hand .playing-card {
  margin-left: -55px;
}

.local-hand .playing-card:first-child {
  margin-left: 0;
}

.local-hand .playing-card:hover(
  z-index: 100;
)
