.card-fan {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 230px;
}

.fan-card {
  margin-left: -70px;
  transition: 0.2s;
  transform-origin: center bottom;
}

.fan-card:first-child {
  margin-left: 0;
}

.fan-card:hover {
  transform: translateY(-30px) scale(1.1) !important;
  z-index: 999;
}
